
@use '../globals/utilities' as u;

/* BENEFITS SECTION STYLES */

.benefits {
    padding-block: var(--space-px-900);
}

.benefit__grid {
    --gap: var(--space-px-800);
    display: grid;
    grid-template-columns: auto;
    gap: var(--gap);
    text-align: center;

    @include u.breakpoint(medium) {
        --gap: var(--space-px-600);
        text-align: initial;
    }

    @include u.breakpoint(large) {
        --gap: var(--space-px-500);
        grid-template-columns: repeat(4, auto);
    }
}

.benefit {
    --gap: var(--space-px-500);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);

    @include u.breakpoint(medium) {
        --gap: var(--space-px-800);
        flex-direction: row;
    }

    @include u.breakpoint(large) {
        --gap: var(--space-px-700);
        flex-direction: column;
        align-items: initial;
    }

    &:nth-child(odd) {

        @include u.breakpoint(medium) {
            padding-inline-start: var(--space-px-800);
        }
    
        @include u.breakpoint(large) {
            padding-inline-start: initial;
        }
    }

    &:nth-child(even) {
        
        @include u.breakpoint(large) {
            padding-block-start: var(--space-px-700);
        }
    }
}

.benefit__icon-wrapper {
    --wrapper-width: 120px;
    --wrapper-height: 124px;
    background-color: var(--clr-accent-300);
    border-radius: 45px;
    display: grid;
    place-content: center;
    width: var(--wrapper-width);
    height: var(--wrapper-height);

    @include u.breakpoint(large) {
        --wrapper-width: 160px;
        --wrapper-height: 164px;
    }
}

.benefit__text {

    @include u.breakpoint(large) {
        --flow-space: var(--space-400);
    }
}
