
@use '../globals/utilities' as u;

/* FOOTER STYLES */

.footer {
    text-align: center;
    padding-block: var(--space-1300);
}

.footer__heading {
    font-size: var(--fs-300);

    @include u.breakpoint(large) {
        font-size: var(--fs-400);
    }
}

.form {
    --flow-space: var(--space-600);
    --gap: var(--space-px-100);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    gap: var(--gap);
    
    @include u.breakpoint(large) {
        --flow-space: var(--space-700);
        grid-template-columns: 5fr 2fr;
        grid-template-rows: auto auto auto;
    }

  /*   &:has(.email-input[aria-invalid="true"]) {
       .form__error__no-value {
        display: block;
       }
    } */
}

.form__input__wrapper {
    grid-column: 1 / -1;
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: subgrid;

    @include u.breakpoint(large) {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
    }
}

.email-label {
    grid-row: 1 / 2;
    
    @include u.breakpoint(large) {
        text-align: initial;
    }
}

.email-input {
    --flow-space: var(--space-200);
    border: 2px solid transparent;
    border-radius: var(--space-px-400);
    padding: var(--space-px-100) 0 var(--space-px-100) var(--space-px-200);
    background-color: var(--clr-accent-300);
    color: var(--clr-primary-100);
    width: 100%;
    grid-row: 2 / 3;
}

.form__error__no-value {
    grid-row: 3 / 4;
    color: var(--clr-accent-200);
    display: none;

    @include u.breakpoint(large) {
        text-align: initial;
    }
}

.form__error__no-email {
    grid-row: 3 / 4;
    color: var(--clr-accent-200);
    display: none;

    @include u.breakpoint(large) {
        text-align: initial;
    }
}

.form__success {
    grid-row: 3 / 4;
    display: none;
    color: var(--clr-accent-500);

    @include u.breakpoint(large) {
        text-align: initial;
    }
}

.form-btn {
    --border-width: 2px;
    --border-style: solid;
    --border-color: transparent;
    --btn-bg: var(--clr-accent-100);
    --btn-color: var(--clr-accent-300);

    border: var(--border-width) var(--border-style) var(--border-color);
    border-radius: var(--space-px-400);
    padding: var(--space-px-100) var(--space-px-400);
    background-color: var(--btn-bg);
    color: var(--btn-color);
    font-weight: var(--fw-extra-bold);
    cursor: pointer;
    transition: ease-in-out .25s;
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    align-self: center;

    &:is(:hover, :focus-visible) {
        --border-color: var(--clr-accent-100);
        --btn-bg: transparent;
        --btn-color: var(--clr-primary-100);
    }

    @include u.breakpoint(large) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}