
@use '../globals/utilities' as u;

/* FOOTER STYLES */

.footer {
    text-align: center;
}

.footer__heading {
    font-size: var(--fs-300);

    @include u.breakpoint(large) {
        font-size: var(--fs-400);
    }
}

.form {
    --flow-space: var(--space-600);
    
    @include u.breakpoint(large) {
        --flow-space: var(--space-700);
    }
}