
@use '../globals/utilities' as u;

/* HEADER STYLES */

.header {
    padding-block-start: var(--space-700);
    

    @include u.breakpoint(medium) {
        padding-block-start: var(--space-800);
        padding-block-end: var(--space-900);
    }

    @include u.breakpoint(large) {
        padding-block-start: var(--space-1100);
    }
}

.logo {
    margin-inline: auto;

    @include u.breakpoint(medium) {
        margin-inline: initial;
    }
}