
@use '../globals/utilities' as u;

/* PRICING SECTION STYLES */

.pricing__intro__heading {
    font-size: var(--fs-300);

    @include u.breakpoint(large) {
        font-size: var(--fs-400);
    }
}

.price {
    font-size: var(--fs-500);
    line-height: var(--lh-300);
}

.pricing__plan-1 {
    background-color: var(--clr-accent-300);
    color: var(--clr-primary-100);
}

.pricing__plan-2 {
    background-color: var(--clr-accent-100);
    color: var(--clr-primary-300);
}

.pricing__plan__tagline {
    color: var(--clr-primary-200);
}