
@use '../globals/utilities' as u;

/* BASE STYLES */

body {
    background-color: var(--clr-primary-300);
    color: var(--clr-primary-200);
    font-family: var(--ff-primary);
    font-size: var(--fs-100);
    font-weight: var(--fw-medium);
    line-height: var(--lh-500);
}

:is(h1, h2, h3) {
    color: var(--clr-primary-100);
    font-weight: var(--fw-extra-bold);
    font-size: var(--fs-200);
    line-height: var(--lh-400);
}

:is(.header, .footer) {
    padding-inline: var(--space-px-400);

    @include u.breakpoint(medium) {
        padding-inline: var(--space-px-900);
    }

    @include u.breakpoint(large) {
        padding-inline: var(--space-px-1000);
    }
}

main section > * {
    padding-inline: var(--space-px-400);

    @include u.breakpoint(medium) {
        padding-inline: var(--space-px-900);
    }

    @include u.breakpoint(large) {
        padding-inline: var(--space-px-1000);
    }
}

